.header {
  border-bottom: 1px solid #eaeaea;
  padding: 15px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  color: #000;
}

.nav {
  display: flex;
  gap: 25px;
}

.navLink {
  text-decoration: none;
  color: #555;
  font-size: 18px;
}

.authButtons {
  display: flex;
  gap: 10px;
}

.btnLogin {
  background-color: var(--text-color-light);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 8px 18px;
  border-radius: 6px;
  font-size: 16px;
  transition: all var(--transition-speed);
}

.btnLogin:hover {
  background-color: var(--primary-color);
  color: var(--text-color-light);
}

.btnRegister {
  background-color: var(--primary-color);
  color: var(--text-color-light);
  padding: 8px 18px;
  border-radius: 6px;
  font-size: 16px;
  transition: background-color var(--transition-speed);
}

.btnRegister:hover {
  background-color: #7b75e1; 
}

.navLink:hover {
  color: #000000;
}

.btnProfile {
  background: transparent;
  border: 1px solid #5c57af;
  color: #5c57af;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.btnLogoutRed {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.btnLogoutRed:hover {
  background-color: #e60000;
}

.userName {
  color: black;
  font-weight: 600;
}

.btnExit{
  background-color: white;
  color: red;
  border: 1px solid red;
  padding: 8px 18px;
  border-radius: 6px;
  font-size: 16px;
  transition: all var(--transition-speed);
}

.btnExit:hover {
  background-color: red;
  color: white;
}

.userName {
  color: #000;
  font-weight: 600;
  font-size: 15px;
  margin-left: 5px;
}