/* src/index.css */
:root {
  --primary-color: #5d56d3; /* Основной фиолетовый */
  --text-color-dark: #333;
  --text-color-light: #fff;
  --bg-color-main: #fff;
  --bg-color-cards: #f0f0f0;
  --transition-speed: 0.3s;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color-main);
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}